@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(2, 18, 20);
    font-family: Roboto;
}

* {
    color: #F6F1F1;
    margin: 0;
    padding: 0;
}

.willa-link {
    color: #19A7CE;
}

a {
    color: #F6F1F1;
    text-decoration: none;
}

a > i:hover, a:hover {
    color: #19A7CE;
}

a:visited {
    /* color: #19A7CE; */
    text-decoration: none;
}

section {
    margin-top: 100px;
    margin-bottom:70px;
}

.header {
    margin: 0 auto;
    padding:8px;
    max-width:900px;
}

.header > h3 {
    min-width: 100px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a.navlink {display: none;}
}
  

.navmenu {
    margin-left: auto;
}

.navmenu > a {
    display:inline-block;
    margin-left: 15px;
}

.navmenu > a > a:visited {
    color: #F6F1F1;
}

.intro {
    flex-direction: column;
    margin-top: 10em;  
    margin-bottom: 10em;
}

.intro h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

.intro p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin: 0 10px;
}

button.social{
    background-color:#F6F1F1;
    color:black;
    font-weight: bold;
    height: 40px;
    width: 100px;
}

button.social:hover{
    background-color:#19A7CE;
    color: #F6F1F1;
    font-weight: bold;
    height: 40px;
    width: 100px;
}

.social {
    margin-left: 10px;
    /* margin-right: 4px; */
}

.links {
    margin-top: 2em;
}

.links > a {
    color: #F6F1F1;
    font-size: 20px;
}

.section__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.school {  
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2em;
    max-width: 600px;
}

.company {
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2em;
    max-width: 700px;
}

.school__header > img, .company__header > img {
    width: 70px;
    border-radius: 25%;
}

.school-name , .company-name{
    padding: 0%;
    margin: 0;
}

.school__description, .company__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.duration {
    color: grey;
}

.role {
    color: grey;
    font-weight: normal;
}

.center {
    display: flex;
    align-items: center;
}

.projects__container {
    display:flex;
    height: auto;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    height: 450px;
    width: 400px;
    margin: 10px;
    border: 1px solid #F6F1F1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-title {
    font-size: x-large;
    margin:auto;
}

.project-thumbnail {
    width: 350px;
    margin: auto;
}

.project-stack {
    margin: auto;
}

.project-links {
    margin: auto;
}

.project-links > a > i {
    margin: 0 10px;
    font-size: x-large;
    color:#19A7CE;
}

.skill__list {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-evenly;
}

.skill__list > li, .language__list > li {
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    background-color: #19A7CE;
    padding: 15px 20px;
    margin: 3px;
}

.language__list {
    max-width: 550px;
    margin: auto auto;
    text-align: center;
    justify-content: space-evenly;

}
.contact-me {
    text-align: center;
    font-size: 18px;
}

.my-email {
    color:#19A7CE;
}

