body {
    background-color: rgb(9, 34, 39);
}

h1, h2, h3, p {
    color: #F6F1F1;
}

.header {

}

a {
    color: #F6F1F1;
    text-decoration: none;
}

a:visited {
    color: #19A7CE;
    text-decoration: none;
}

.grid-container {
}

.intro {
    flex-direction: column;
    margin-top: 3em;  
}

.intro > h1 {
    text-align: center;
    font-size: 50px;
}

.social {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
}

.links > a {
    color: #F6F1F1;
}

.section {
}

.section__title {
    text-align: center;
}

.school {  
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.school__header > img {
    width: 70px;
    border-radius: 25%;
}

.school-name {
    padding: 0%;
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
  }

