body {
    background-color: rgb(2, 18, 20);
}

* {
    color: #F6F1F1;
}

a {
    color: #F6F1F1;
    text-decoration: none;
}

a:visited {
    color: #19A7CE;
    text-decoration: none;
}

section {
    margin-top: 100px;
    margin-bottom:70px;
}

.header {
    margin: 0 auto;
    width:900px;
}

.navmenu {
    margin-left: auto;
}

.navmenu > li {
    display:inline-block;
    margin-left: 15px;
}

.navmenu > li > a:visited {
    color: #F6F1F1;
}

.intro {
    flex-direction: column;
    margin-top: 4em;  
    margin-bottom: 4em;
}

.intro h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

.intro p {
    margin-top: 0;
    margin-bottom: 0;
}

button.social {
    background-color:#19A7CE;
    font-weight: bold;
    height: 40px;
    width: 100px;
}

.social {
    margin-left: 10px;
    /* margin-right: 4px; */
}

.links {
    margin-top: 2em;
}

.links > a {
    color: #F6F1F1;
    font-size: 20px;
}

.section__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.school {  
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 550px;
}

.company {
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 700px;
}

.school__header > img, .company__header > img {
    width: 70px;
    border-radius: 25%;
}

.school-name , .company-name{
    padding: 0%;
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
}

.skill__list {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.skill__list > li {
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    background-color: #19A7CE;
    padding: 15px 20px;
    margin: 3px;
}

.contact-me {
    text-align: center;
    font-size: 18px;
}

.my-email {
    color:#19A7CE;
}